
#banner {
    text-align: center;
    background-image:url("../images/accueil.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    
}

/*pour livre_or.php et commentaire.php*/
.jumbotron-bis{
    padding: 2rem 0;
    border-radius: 0;
    background-image: url("../images/livreor.png")!important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width:100%;
    height:100%;   
 }
 @media (min-width: 576px) {
    .jumbotron-bis {
      padding: 4rem 2rem;
    }
  }
